.reservation-calendar .full {
  background-color: #fc2222b4;
  color: white;
}

.reservation-calendar .half-full {
  background-color: #ffb039b4;
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.reservation-calendar {
  width: 100%;
}