@font-face {
  font-family: 'OstrichSans-Light';
  src: url('../assets/OpenSans-Light.ttf'); /* IE9 Compat Modes */
}

body {
  font-family: 'OstrichSans-Light', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

.fa {
  padding-right: 10px;
}

.card {
  margin: 10px;
}

.user-action-button {
  margin-top: 9px;
}

.nav-item {
  margin: 0 10px 0 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.4;
  background-color: white;
  text-align: center;
}